/* For labels on newPost and Course pages */
.labelsf {
    color: darkred;
    font-size: 20px;
    text-align:center;
    margin: 30px 0;
    font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
  }
  
  /* For search bar on home and some input queries on newPost */
  input[type=text] {
    width: 400pxpx;
    padding: 12px 20px;
    margin-left: 0%;
    margin: 8 auto;
    display: block;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
    border: 1px solid grey;
    border-radius: 8px;
  }
  
  input[type=text]:focus {
    border: 1.5px solid #555;
    outline: none;
  }
  
  /* For certain inputs on the newPost page */
  .ids input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin-left: 0%;
    margin: 8 auto;
    display: block;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
    border: 1px solid grey;
    border-radius: 8px;
  }
  
  .ids input[type=text]:focus {
    border: 1.5px solid #555;
    outline: none;
  }
  
  /* To make datalist search bars look good */
  .datalist input {
    width: 300px;
    padding: 12px 20px;
    margin-left: 0%;
    margin: 8 auto;
    display: block;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
    border: 1px solid grey;
    border-radius: 8px;
    outline: none;
  }

  /* For Star Rating in newPost */
  /* https://www.codewithrandom.com/2023/05/04/star-rating-using-html-css/ */
  .rating {
    margin-left: -25px;
    width: 225px;
  }
  
  /* Placing Stars */
  .rating label {
    /* Stars select left to right */
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  /* Spacing Stars */
  .rating label:not(:first-of-type) {
    padding-right: 0px;
  }
  
  /* What happens before stars are checked */
  .rating label:before {
    /* Code for stars */
    content: "\2605";
    /* Star size */
    font-size: 35px;
    color: darkgrey;
    line-height: 1;
  }
  
  /* Deleting original clickable ratings */
  .rating input {
    display: none;
  }
  
  /* Making clicked or hovered stars orange */
  .rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
    color: orange;
  }
  
