*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: darkred;
}

ul{
    list-style-type: none;
    background-color: darkgrey;
    text-align: left;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: white;
    font-size: 40px;
    display: block;
    padding: 80 px;
}

li a:hover {
    background-color: black;
}

h1 {
    color: white;
    font-size: 70px;
    text-align:center;
}
