*{
  font-family: sans-serif;
  background-color: white;
}

/* For newpost button on homepage and submit post button in newPost */
.button {
  background-color: darkred;
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  float: right;
  border-radius: 10px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 17px 50px 0 rgba(0,0,0,0.14);
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: white;
  border-bottom: 2px solid darkred;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* Navigation links */
.navbar a {
  float: left;
  font-weight: bold;
  font-size: 30px;
  color: darkred;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
  text-align: center;
  padding: 11px 11%;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: darkred;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
  padding-left: 30%;
  padding: 15px 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: darkred;
  color:white;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  padding: 4px 10px;
  background-color: white;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  padding: 15px 20px;
  font-weight: normal;
  font-size: medium;
  color: darkred;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: darkred;
  color: white;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
  border-bottom: 2px solid darkred;
}

/* For Homepage and Newpost */
h1 {
  color: darkred;
  font-size: 70px;
  text-align:center;
  margin-top: 40px;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* For Course */
h2 {
  color: darkred;
  font-size: 70px;
  text-align:left;
  margin-top: 40px;
  margin-left: 70px;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* For search bar on Homepage */
h3 {
  color: darkred;
  font-size: 25px;
  text-align:center;
  margin: 10px;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* For rating in Course page */
h4 {
  color: darkred;
  font-size: 40px;
  text-align:left;
  margin-top: -40px;
  margin-left: 70px;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* For elements of Course Table */
h5 {
  color: darkred;
  font-size: 25px;
  text-align:center;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* For labels on newPost and Course pages */
.labelsf {
  color: darkred;
  font-size: 25px;
  text-align:center;
  font-family: Optima, Geneva, Tahoma, sans-serif, Times, serif;
}

/* For search bar on home and input queries on newPost */
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin-left: 40%;
  margin: 8 auto;
  display: block;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  border: 1px solid grey;
  border-radius: 8px;
}

input[type=text]:focus {
  border: 1.5px solid #555;
}

input[type=text]:hover {
  width: 20%;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

/*Jonny: What is this doing?*/
.index input[type=text] {
  width: 40%;
  padding: 5px 20px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  transition: width 0.4s ease-in-out;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0px;
}

.index input[type=text]:focus {
  width: 43%;
}

/* For Tables: */
table, td, th {
  border: 2px solid;
}

table {
  margin-left: 15%;
  width: 70%;
  border-collapse: collapse;
}

/* What does this do? */
table td:nth-child(1){
  width: 200%;
  height: 100px;
  border-collapse: collapse;
}
