<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="indexstyle.css" >
        <link rel="stylesheet" href="courseratingstyle.css" >
        <link rel="stylesheet" type="text/css" href="poststyle.css" >
        <!-- Stylesheet to make stars -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <title>
              Course
          </title>                
      </head>
  
<body>
    <%courseList.forEach(course => {%>
        <p><%= course.username%></p>
        <p><%= course.term%></p>
        <p><%= course.teachercomments%></p>
        <p><%= course.coursecomments%></p>
    <%})%>
    <h1>HTML here</h1>
</body>
</html>